body {
  background: black;
}

.App {
  text-align: center;
  font-family: "andale mono";
  text-transform: uppercase;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 500px;
  width: 500px;
  color: white;
  position: absolute;
  left: -250px;
  transform:translateY(-50%) rotate(-45deg);
  margin-left: 50%;
  top: 50vh;
}

.App-intro {
  font-size: large;
}

a {
  color: yellow;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
